.main-footer {
  background-color: #79ba9e;
  margin-top: 2rem;
  padding-top: 1rem;
  position: relative;
  bottom: 0em;
  width: 100%;
  color: white;
}

li,
a {
  font-size: 12px;
}

h6 {
  font-weight: bold;
}

/* .address{
     margin:0 ;   
}

.footer-links{
    color: white;
    text-decoration: underline;
}


.footer-bottom{
    padding-top: 0em;
    padding-bottom: 0em;
    font-size: 14px;  
}
 */
