

*/ .service-table {
  margin: 10px;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.service-table thead tr {
  background-color: #176560;
  color: white;
  text-align: left;
}

.service-table td {
  padding: 12px 15px;
}

.service-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.service-table tbody tr:nth-of-type(even) {
  background-color: lightgray;
}

.a {
  color: #176560 !important;
}

.service-table tbody tr:last-of-type {
  border-bottom: 2px solid#176560;
}

.profile-info {
  font-weight: 200px;
}

.meta-Data {
  font-size: 30px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.table-link {
  color: #176560 !important;
  font-size: inherit;
}

.profile-pic{
  
  max-width: 40%;
  margin-bottom: 15px;
}


